:root {
    --black: #000;
    --white: #FFF;
    --greeny: #005F6B;
    --greeny-light: #00F3B3;
    --tealish: #008C9E;
    --lightest-gray: #f1f1f1;
}
.img, ul {
    margin:auto;
}

.background, .img {
    position:absolute;
}

.padding{
    padding-top: 50px;
    padding-bottom:80px;
}

a:link, a:visited {
    color: var(--greeny);
}

h1{
    /*define font-family and size here */
}
h2{
    /*define font-family and size here */
}
h3{
    /*define font-family and size here */
}
h4{
    /*define font-family and size here */
}
li, p {
   /*define font and size here */
}

.about {

}

.skills {

}

.previous-work{

}

.projects{

}

.contact {

}

.footer {

}


#hamburger-icon {
    position:fixed;
    right:60px;
    font-size:60px;
    z-index:3;
    cursor: pointer;
    display: block;
    transition: all 1s ease;
}

#hamburger-icon .line{
    position:fixed;
    display:block;
    background: var(--black);
    width: 30px;
    height: 4px;
    transition: all .5s ease-in;
}
#hamburger-icon .line.bar-1 {
    top:30px;
}
#hamburger-icon.line.bar-2 {
    top:38px;
}
#hamburger-icon.line.bar-3 {
    top:46px;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: var(--tealish);
    overflow-y: hidden;
    transition: .5s;
}

.overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top:30px;
}

.overlay a{
    /*font*/
    padding: 8px;
    text-decoration: none;
    font-size:36px;
    color:var(--white);
    display: block;
    transition:.3s;
}

.overlay a:focus, .overlay a:hover{
    color:var(--lightest-gray);
}